{
    "unique_name": "proton-mail",
    "matching_hotwords": ["send proton", "send protonmail"],
    "smtp_password": "YOUR_PROTONMAIL_APP_PASSWORD",
    "proton_email": "your.email@protonmail.com",
    "designated_sender": "your-trigger@email.com",
    "interactive_mode": true,
    "mail_notifications": true
}
