{
    "unique_name": "proton-mail",
    "matching_hotwords": [
        "check mail",
        "read email",
        "check my email",
        "do i have mail",
        "new email",
        "any mail",
        "inbox",
        "proton mail"
    ],
    "proton_email": "your.email@protonmail.com",
    "designated_sender": "your-trigger@email.com",
    "poll_interval_minutes": 10,
    "purge_days": 31,
    "mail_notifications": true
}
